@model CarCartViewModel
@{
    string CarImagePlaceholder = @"https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png";
}
<div class="col-sm-4">
    <div class="card">
        <div class="Car-card-img">
            <img src="@(Model.Car.ImagePath??CarImagePlaceholder)" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Car.Name</h5>
            <p class="card-text">@Model.Car.Color</p>
            <p class="fw-bold">Price <span class="badge bg-primary">@Model.Car.Price</span></p>
            <a asp-controller="Car" asp-action="Details" asp-route-id=@Model.Car.Id asp-route-returnUrl="@Context.Request.Path" class="btn btn-dark">Details</a>
            @if (!Model.IsInCart)
            {
                <a asp-controller="Cart" asp-action="Add" asp-route-id=@Model.Car.Id class="btn btn-danger">Add To Cart</a>
            }
            else
            {
                <a asp-controller="Cart" asp-action="Remove" asp-route-id=@Model.Car.Id class="btn btn-secondary">Delete From Cart</a>
            }

        </div>
    </div>
</div>
