@model List<DataAccess.Entities.Car>
@{
    string CarImagePlaceholder = @"https://www.freeiconspng.com/thumbs/no-image-icon/no-image-icon-15.png";
}

<div class="container">
    @if (Model.Any())
    {
        <h3>Count Car: @Model.Count()</h3>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Car in Model)
                    {
                        <tr>
                            <th scope="row">@Car.Id</th>
                            <td>

                                <img src="@(Car.ImagePath??CarImagePlaceholder)" class="card-img-top w-25" alt="...">
                            </td>
                            <td>@Car.Name</td>
                            <td>@Car.Price</td>
                            <td>@Car.Category?.Name</td>
                            <td>
                                <div class="d-flex justify-content-evenly">

                                    <a asp-controller="Cart" asp-action="Remove" asp-route-id=@Car.Id class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-2">
                                        <i class="bi bi-trash">Remove</i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>Total: @Model.Sum(p=>p.Price) $</p>
            <a asp-controller="Order" asp-action="Create" class="btn btn-primary">Confirm</a>
        </div>

    }
    else
    {
        <h3>Cars was not found in CART...</h3>
    }

</div>
