@model List<DataAccess.Entities.Car>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string carImagePlaceHolder = @"https://www.seat.com.mt/content/dam/public/seat-website/carworlds/compare/default-image/ghost.png";
}
<div class="container">
    @if (Model.Any())
    {
        <h3>Count Car: @Model.Count()</h3>
        <div class="row">
            <div class="col-1 m-3">
                <a asp-controller="Car" asp-action="Create" class="btn btn-primary" role="button">Create</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Color</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Operations</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var Car in Model)
                    {
                        <tr>
                            <th scope="row">@Car.Id</th>
                            <td>
                                @if (Car.ImagePath == null)
                                {
                                    <img src="@carImagePlaceHolder" class="card-img-top w=25" alt="...">
                                }
                                else
                                {
                                    <img src="@Car.ImagePath" class="card-img-top w=25" alt="...">
                                }
                            </td>
                            <td><p>@Car.Name</p></td>
                            <td><p>@Car.Color</p></td>
                            <td><p>@Car.Price</p></td>

                            <td><p>@Car.Category?.Name</p></td>
                            <td>
                                <a asp-controller="Car" asp-route-returnURL="@Context.Request.Path" asp-action="Details" asp-route-id=@Car.Id>Details</a>
                                <a asp-controller="Car" asp-action="Edit" asp-route-id=@Car.Id>Edit</a>
                                <a  asp-controller="Car" asp-action="Delete" asp-route-id=@Car.Id>Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    }
    else
    {
        <h3>Cars was not found...</h3>
    }

</div>