@model List<DataAccess.Models.Car>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    @if (Model.Any())
    {
        <h3>Count Car: @Model.Count()</h3>
        <div class="row">
            @foreach (var Car in Model)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <img src="@Car.ImagePath" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Car.Name</h5>
                            <p class="card-text">@Car.Color</p>
                            <p class="fw-bold">Price <span class="badge bg-primary">@Car.Price</span></p>
                            <a asp-controller="Car" asp-action="Details" asp-route-id=@Car.Id class="btn btn-dark">Details</a>
                            <a asp-controller="Car" asp-action="Delete" asp-route-id=@Car.Id class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    }
    else
    {
        <h3>Cars was not found...</h3>
    }

</div>